<!doctype html>
<html >
<head>
<meta charset="UTF-8">
<title>G&eacute;rer les billets</title>
<link rel='stylesheet' type='text/css' href='/style.css' />
<script src="/angular.min.js"></script>
<script src="/angular-route.min.js"></script>
<script src="/billets/controllers.js"></script>
<script src="/billets/module.js"></script>
</head>
<body>
	<%include connexion%>
	<div ng-app="BilletsModule" ng-view>
	</div>
</body>
</html>
