<html ng-app="BilletsModule">
<head>
<script src="/angular.min.js"></script>
<script src="/angular-route.min.js"></script>
<script src="/billets/controllers.js"></script>
<script src="/billets/module.js"></script>
</head>
<body>
	<div ng-view>
	</div>
</body>
</html>
