<div class='structureElement'>

	<div class='structureName'>
		Connexion
	</div>

	<div class='connexion'>
		<% if(connexion.user) { %>
		<script type="text/ecmascript">
function logout() {
			var logoutForm = document.getElementById("logoutForm");
			logoutForm.submit();	
		}
		</script>
		<a href='/' style='cursor:pointer;font-style:bold'>Accueil</a>
		<div style='display:inline;' ><%=connexion.user.username%></div>
		<a href='/users/consult/<%=connexion.user.username%>' style='cursor:pointer;font-style:bold'>Ma page</a>
		<form style='display:inline;' id='logoutForm' method='POST' action='/logout' enctype='application/x-www-form-urlencoded'>
			<a href='javascript:logout()' style='cursor:pointer;font-style:bold'> Se d&eacute;connecter </a>
		</form>
		<% } else { %>
		<% if (connexion.message) { %>
		<p><%= connexion.message %></p>
		<% } %>
		<script type="text/ecmascript">
function connect() {
						var connexionForm = document.getElementById("connexionForm");
						connexionForm.submit();	
					}
			function createProfil() {

			}
		</script>
		<a href='/'>Accueil</a>
		<form style='display:inline;' id='connexionForm' method='POST' action='/login' enctype='application/x-www-form-urlencoded'>
			<input type='text' id='username' name='username'/>
			<input type='password' id='password' name='password'/>
			<a href='javascript:connect()' style='cursor:pointer;font-style:bold'>Se connecter</a>

		</form>
		<a href='/users/new' style='cursor:pointer;font-style:bold' >Cr&eacute;er un profil</a>

		<% }%>
	</div>
</div>
