<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cr&eacute;er un profil</title>
<link rel='stylesheet' type='text/css' href='style.css' />
<script src="angular.min.js"></script>
<script type='text/javascript'>
var CreateProfilModule = angular.module('CreateProfilModule',[]);
CreateProfilModule.controller('CreateProfilCtrl',function($scope) {
		$scope.ages = [
		'18 - 25',
		'25 - 30',
		'30 - 35',
		'35 - 40',
		'40 - 45',
		'45 - 50',
		'50 - 55',
		'55 - 60',
		'60 - ...',
		];

		$scope.genders = [
		'M','F'
		];

		$scope.studies = [
			'Sans diplôme','Bac','Bac+2','Bac+3','Bac+4','Bac+5 et plus'
			];

		$scope.hierarchyLevels = [
			'Cadre','Non Cadre'
			];

		$scope.activities = [
			'Droit','Banque','Bâtiment'
			];

});
</script>
</head>
<body>
<div ng-app='CreateProfilModule' ng-controller='CreateProfilCtrl'>
	<div class='structureElement'>
		<div class='structureName'>
			Mon profil
		</div>
		<div>
			<form method='POST' action='/users/create' enctype='application/x-www-form-urlencoded'>
				<div class='inputField'>Identifiant : <input id='userId' name='userId' type='text'/></div>
				<div class='inputField'>Mot de passe : <input id='password' name='password' type='password'/></div>
				<div class='inputField'>Mail : <input id='mail' name='mail' type='mail'/></div>
				<div class='inputField'>Age : <select ng-model='age' ng-options='age for age in ages' id='age' name='age'></select></div>
				<div class='inputField'>Genre : <select ng-model='gender' ng-options='gender for gender in genders' id='gender' name='gender'></select></div>
				<div class='inputField'>Niveau d'&eacute;tude : <select ng-model='study' ng-options='study for study in studies' id='studies' name='studies'></select></div>
				<div class='inputField'>Statut : <select  ng-model='hierarchyLevel' ng-options='hierarchyLevel for hierarchyLevel in hierarchyLevels' id='hierarchyLevel' name='hierarchyLevel'></select></div>
				<div class='inputField'>Secteur : <select ng-model='activity' ng-options='activity for activity in activities' id='activity' name='activity'></select></div>
				<input type='submit'/>
			</form>
		</div>
	</div>
</div>
</body>

</html>
