body
{
	background-color:#FFFFFF;
}
div {
}
.storyTitle {
	text-align:center;
}
.storyFacts {
	width: 300px;
}

.storyFeelings {
	width: 300px;
}

.storyProblem {
	width: 300px;
}

.structureElement {
	margin-top:10px;
	padding:5px;
	border:1px solid black;
}
.structureName {
	color:#777777;
	text-align:right;
	font-style:italic;
}
.specialistOpinionTitle {
	font-style:italic;
}
.commentMeta {
	font-style:italic;
	color:#777777;
	display:inline;
}

.connexion {
	text-align: right;
//	background-color:#BBBBBB;
}
.button {
	margin: 10px;
}
.buttonText {
	border: 1px solid black;
	cursor: pointer;
}
.theme {
	font-style: italic;
	color: #333333;
	display: inline;
}
.selected {
	color: #00DD22;
}
